.productHeading {
    display: flex;
    padding: 1.3rem;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(14, 14, 14);
    gap: 2.5rem;
    height: 100%;
  }
  .productTitle {
    font-size: 3em;
    font-family: var(--font-orbitron);
  }
  .productDescription {
    width: 21rem;
    font-family: var(--font-inter);
    color: rgb(159, 158, 158);

  }
  .top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
  }
  .timedDrop {
    font-family: var(--font-orbitron);
    margin-bottom: 7rem;
  }

  .items {
    font-family: var(--font-orbitron);
    font-size: 2.3em;
  }
  
  .button {

    width: 30px;
    height: 30px;
    border: 1px gray solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

  }
  @media (min-width: 1024px) {
    .productHeading {
      flex-direction: row;
      text-align: unset;
      padding-left: 0.5rem;
    }
  }
  
  
  