.footer-container {

    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 48px;
    padding: 1rem;
    width: 100%;
}
.footer {
    width: 100%;
    background-color: rgb(16, 16, 16);
    color: white;
    padding: 3rem;
}

@media (min-width: 1024px) {
    .footer-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .footer {
        padding-block: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 4rem;
        position: relative;
        border-top: 1px #d1a054 solid;
    }
}